<div class="animated fadeIn">

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> EMPRESAS
                </div>
                <div class="card-body">
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" (click)="edit.show(); clearForm()">
                        <i class="fa fa-plus"></i> Nuevo
                    </button> <br>
                    <br>
                    <div class="column is-one-third">
                        <label class="control">
                            <input  type="text"
                                    class="input"
                                    style="border-radius:3px; border-block-start-color:rgba(76, 190, 243, 0.623)"
                                    placeholder=" Nombre"
                                    (keyup)="find($event.target.value)"
                                    >
                        </label>
                    </div>
                    <div *ngIf="response">
                        <div role="alert" class="{{ alert }}">
                            <span><strong>{{ response }}</strong></span>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped">
                        <thead style="background-color:PowderBlue">
                            <tr>
                                <th>Nit</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Contacto</th>
                                <!-- <th>Imagenes</th> -->
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of clients">
                            <tr>
                                <td>{{item.client_nit}}</td>
                                <td ><a [routerLink]="['/empresas/empresa', item.idclient]">{{item.client_name}}</a></td>
                                <td>{{item.client_address}}</td>
                                <td>{{item.client_phone}}</td>
                                <td>{{item.client_email}}</td>
                                <td>{{item.client_contact}}</td>
                                <td class="text-center">
                                    <span>
                                        <i data-toggle="modal" (click)="edit.show(); editClients(item)" class="btn-sm badge-secondary fa fa-pencil"> </i>
                                    </span>
                                    <span>
                                        <i data-toggle="modal" (click)="delete.show(); deleteClient(item)" class="btn-sm badge-danger fa fa-trash"> </i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FUNCION LOADING -->

<!-- MODAL EDITAR -->
<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Empresa</h4>
                <button type="button" class="close" (click)="edit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editClientsForm" (ngSubmit)="registerClients()" data-toggle="validator" role="form">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nit</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="nit" placeholder="Identificacion Empresarial" type="number" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
                            <input class="form-control" formControlName="id" type="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nombre</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="name" placeholder="Nombre de empresa"
                                type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Direccion</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="address" placeholder="locacion empresarial"
                                type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Telefono</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="phone" placeholder="Numero de contacto"
                                type="text" required>
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Correo</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="email" placeholder="Correo Empresarial"
                                type="email" id="campo"
                                onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toLowerCase()"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Contacto</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="contact" placeholder="Personal de contacto"
                                type="text" required>
                            <input class="form-control" formControlName="clientType" type="hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" (click)="edit.hide()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL BORRAR -->
<div bsModal #delete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Empresa</h4>

            </div>
            <div class="modal-body">
                <form [formGroup]="deleteClientsForm" (ngSubmit)="deleteClients()">
                    <div class="modal-body text-small">
                        <h4>¿Esta seguro que desea eliminar esta Empresa?</h4>
                        <input class="form-control" formControlName="idclient" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="delete.hide()">Si</button>
                        <button type="button" class="btn btn-danger" (click)="delete.hide()" aria-label="Close"><i
                                class="fa fa-ban"></i> No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
