<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar-plus-o"></i> VISITAS
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <button class="btn btn-info" data-toggle="modal" (click)="nuevo.show(); clearForm()">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: end;">
              <label class="control">
                <input type="text" class="form-control" style="border-radius:3px; border-block-start-color:rgba(76, 190, 243, 0.8)" placeholder="Buscar" (keyup)="find($event.target.value)">
              </label>
            </div>
          </div>
          <br>
          <div *ngIf="response">
            <div role="alert" class="{{ alert }}">
              <span><strong>{{ response }}</strong></span>
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead style="background-color:PowderBlue">
              <tr>
                <th>Visita</th>
                <th>Empresa</th>
                <th>Encargado</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of visits | paginate: { itemsPerPage: 10, currentPage: p }">
                <td><a [routerLink]="['/visitas/visita', item.schedule_id]">{{ item.descrioption }}</a></td>
                <td>{{ item.client_name}} </td>
                <td>{{ item.user_name}} </td>
                <td>{{ item.datevisit }} </td>
                <td>{{ item.timevisit }} </td>
                <td class="text-center">
                  <span><i data-toggle="modal" (click)="delete.show(); deleteVisit(item)" class="btn-sm badge-danger fa fa-trash"> </i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event">  </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FUNCION LOADING -->

<!-- MODAL EDITAR -->
<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Editar Visitas</h4>
            <button type="button" class="close" (click)="edit.hide" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editVisitsForm" (ngSubmit)="registerVisits()">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Cliente</label>
                        <input class="form-control" formControlName="id" type="hidden">
                        <div class="col-md-9">
                            <select class="form-control" formControlName="client" required>
                                <option
                                    *ngFor="let item of clients"
                                    [value]=(item.idclient)>
                                    {{item.client_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Tarea</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="descrioption"  placeholder="Funcion a realizar" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Encargado</label>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="userid" required>
                                <option
                                    *ngFor="let item of users"
                                    [value]=(item.iduser)>
                                    {{item.user_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Fecha</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="date" type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Hora</label>
                        <div class="col-md-9">
                            <input class="form-control" type="time"  formControlName="time">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" (click)="edit.hide">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL NUEVO -->
<div bsModal #nuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Nueva Visitas</h4>
                <button type="button" class="close" (click)="nuevo.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editVisitsForm" (ngSubmit)="registerVisits()">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Cliente</label>
                            <input class="form-control" formControlName="id" type="hidden">
                            <div class="col-md-9">
                                <select class="form-control" formControlName="client" required>
                                    <option
                                        *ngFor="let item of clients"
                                        [value]=(item.idclient)>
                                        {{item.client_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Tarea</label>
                            <div class="col-md-9">
                                <input class="form-control" formControlName="descrioption"  placeholder="Funcion a realizar" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Encargado</label>
                            <div class="col-md-9">
                                <select class="form-control" formControlName="userid" required>
                                    <option
                                        *ngFor="let item of users"
                                        [value]=(item.iduser)>
                                        {{item.user_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info" (click)="nuevo.hide()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- MODAL BORRAR -->
<div bsModal #delete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>

        </div>
        <div class="modal-body">
            <form [formGroup]="deleteVisitsForm" (ngSubmit)="deleteVisits()">
                <div class="modal-body text-small">
                    <h4>¿Esta seguro que desea eliminar esta visita?</h4>
                    <input class="form-control" formControlName="idvisit" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="delete.hide()" >Si</button>
                    <button type="button" class="btn btn-danger" (click)="delete.hide()" aria-label="Close"><i class="fa fa-ban"></i> No</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
