<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      
        <div class="row">
            <div class="col-md-8 mx-auto">
                
                <div class="card-group">
                    
                  <div class="card p-4">
                        <div class="card-body">
                          <form [formGroup]="loginForm"  (ngSubmit)="startSession()"  data-toggle="validator" role="form">
                              <h1>Iniciar Sesión</h1> <br>
                              <!-- <p class="text-muted">Sign In to your account</p> -->
                              
                              <div *ngIf="response">  
                                  <div role="alert" class="{{ alert }}">
                                      <span><strong>{{ response }}</strong></span>
                                  </div>
                              </div>

                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="icon-user"></i></span>
                                  </div>
                                  <input formControlName="username" type="text" class="form-control" placeholder="Usuario" required>
                              </div>
                              <div class="input-group mb-4">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="icon-lock"></i></span>
                                  </div>
                                  <input formControlName="password" type="password" class="form-control" placeholder="contraseña" required>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <button type="submit" class="btn btn-primary">Entrar</button>
                                  </div>
                                  <div class="col-sm-6">
                                      <!-- <button class="btn btn-sm btn-danger">Olvide mi contraseña</button> -->
                                  </div>
                              </div>
                          </form>                
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                      <div class="card-body">
                        <div>
                          <h2 class="text-center">SOLINTER</h2>
                          <p class="tex-justify">
                              <br>
                              Somos SOLUCIONES INTEGRALES DEL VALLE, una empresa dedicada a prestar servicios en la disciplina eléctrica, el montaje y puesta en marcha de equipos industriales.
                              <!-- Diseñamos soluciones a su medida en el campo industrial, comercial y residencial. Con tecnología moderna y precios competitivos. -->
                              <!-- Somos un equipo de trabajo conformado por profesionales con conocimientos en distintas áreas de la ingeniería y una excelente relación comercial con los distribuidores e integradores de las mejores marcas -->
                          </p>
                            <!-- REGISTRAR NUEVO USUARIO -->
                          <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
                        </div>
                      </div>
                    </div>

                </div>
            </div>
          </div>
            
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <div>
                        <br><br>
                        <p><img class="size-medium wp-image-68" src="assets/img/brand/sigma7.png" width="300" height="90" alt="CoreUI Logo" ></p>
                        © Todos los derechos reservado Sigma7 S.A.S					
                    </div>
                </div>
            </div>

    </div>
  </main>
</div>
