<div class="animated fadeIn">

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> EMPLEADOS
                </div>
                <div class="card-body">
                    <button class="btn btn-sm btn-info" type="button" data-toggle="modal" (click)="edit.show(); clearForm()">
                        <i class="fa fa-plus"></i> Nuevo
                    </button> <br>
                    <br>
                    <div class="column is-one-third">
                        <label class="control">
                            <input  type="text"
                                    class="input"
                                    style="border-radius:3px; border-block-start-color:rgba(76, 190, 243, 0.623)"
                                    placeholder=" Nombre"
                                    (keyup)="buscar($event.target.value)"
                                    >
                        </label>
                    </div>
                    <div *ngIf="response">
                        <div role="alert" class="{{ alert }}">
                            <span><strong>{{ response }}</strong></span>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-sm" cellspacing="0">
                        <thead style="background-color:PowderBlue">
                            <tr>
                                <th>Nombre</th>
                                <th>Identificacion</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Correo</th>
                                <th>Usuario</th>
                                <th>Tipo</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of users | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td><a [routerLink]="['/usuarios/usuario', item.iduser]">{{item.user_name}}</a></td>
                                <td>{{item.user_id}}</td>
                                <td>{{item.user_phone}}</td>
                                <td>{{item.user_address}}</td>
                                <td>{{item.user_email}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.usertypename}}</td>
                                <td class="text-center">
                                    <span>
                                        <i data-toggle="modal" (click)="edit.show(); editUsers(item)" class="btn-sm badge-secondary fa fa-pencil"> </i>
                                    </span>
                                    <span>
                                        <i data-toggle="modal" (click)="delete.show(); deleteUser(item)" class="btn-sm badge-danger fa fa-trash"> </i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  <pagination-controls (pageChange)="p = $event"> </pagination-controls>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- FUNCION LOADING -->

<!-- MODAL EDITAR -->
<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ediar Usuarios</h4>
                <button type="button" class="close" (click)="edit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUsersForm" (ngSubmit)="registerUsers()">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nombre</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="name" placeholder="nombre completo" type="text"
                                required>
                            <input class="form-control" formControlName="id" type="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Identificacion</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="identification" placeholder="cedula o codigo"
                                type="number" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Telefono</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="phone" placeholder="Numero de contacto" type="text"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Direccion</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="address" placeholder="Lugar de Residencia"
                                type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Correo</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="email" placeholder="Correo Empresarial"
                                type="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Usuario</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="userName" placeholder="Nombre de Usuario"
                                type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Tipo</label>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="userType" required>
                                <option *ngFor="let item of usersType" [value]=(item.idusertype)>
                                    {{item.usertypename}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="userPass" type="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" (click)="edit.hide()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL BORRAR -->
<div bsModal #delete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>

            </div>
            <div class="modal-body">
                <form [formGroup]="deleteUsersForm" (ngSubmit)="deleteUsers()">
                    <div class="modal-body text-small">
                        <h4>¿Esta seguro que desea eliminar este usuario?</h4>
                        <input class="form-control" formControlName="iduser" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="delete.hide()">Si</button>
                        <button type="button" class="btn btn-danger" (click)="delete.hide()" aria-label="Close"><i
                                class="fa fa-ban"></i> No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
