<app-header
  [navbarBrandRouterLink]="['/inicio']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 120, height: 40, alt: 'Solinter Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'Solinter Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <i class="text-left"><strong>{{ userSession }}</strong></i>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div style="padding-top: 20px !important;" class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div *ngIf="visits.length > 0" class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Hoy</div>
          <div  *ngFor="let item of visits">
            <div class="list-group-item list-group-item-divider list-group-item-accent-success">
              <div>{{item.descrioption}}</div>
              <small class="text-muted mr-3">
                <i class="icon-calendar"></i> {{item.timevisit}}</small>
              <small class="text-muted">
                <i class="fa fa-industry"></i> {{item.client_name}}
                <i class="icon-location-pin"></i> {{item.client_address}}
              </small>
            </div>
          </div>
          <div *ngIf="visitsPen.length > 0" class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Pendientes</div>
          <div  *ngFor="let item of visitsPen">
            <div class="list-group-item list-group-item-divider list-group-item-accent-warning">
              <div>{{item.descrioption}}</div>
              <small class="text-muted mr-3">
                <i class="icon-calendar"></i> {{item.timevisit}}</small>
              <small class="text-muted">
                <i class="fa fa-industry"></i> {{item.client_name}}
                <i class="icon-location-pin"></i> {{item.client_address}}
              </small>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Usuario</h6>
          <div class="dropdown-header text-center"><strong>Cuenta</strong></div>
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
            <a class="dropdown-item" (click)="closeSession()" href="#"><i class="fa fa-lock"></i> Cerrar sesión</a>
          </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
