<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header"> Aprovación de visita - Detalles </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="callout callout-info"><small
                                        class="text-muted">Materiales</small><br><strong class="h4">{{countMT}}</strong>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-danger"><small
                                        class="text-muted">Maquinaria</small><br><strong class="h4">{{countMC}}</strong>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-warning"><small
                                        class="text-muted">Herramientas</small><br><strong
                                        class="h4">{{countT}}</strong>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-success"><small class="text-muted">Mano de
                                        obra</small><br><strong class="h4">{{countW}}</strong></div>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <div class="progress-group mb-12" *ngFor="let visit of visit">
                            <div class="col-sm-6" style="margin-bottom: 10px">
                                <h4 class="card-title mb-0">{{visit.client_name}}</h4>
                                <div class="small text-muted">{{visit.client_nit}}</div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px">
                                <h4 class="card-title mb-0"> <strong>Total:
                                    </strong>{{Totalfull | currency: symbol : $}}</h4>
                                <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" (click)="nuevo.show();">Generar cotización</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Porcentajes</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="materiales">Materiales</label>
              <input class="form-control" name="materiales" [(ngModel)]="PorcentageMT" (keyup)="porcentage($event);" size="4" placeholder="%" type="text">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="maquinarias">Maquinarias</label>
              <input class="form-control" name="maquinarias" [(ngModel)]="PorcentageMC" (keyup)="porcentage($event)" size="4" placeholder="%" type="text">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="herramientas">Herramientas</label>
            <input class="form-control" name="herramientas" [(ngModel)]="PorcentageT" (keyup)="porcentage($event)" size="4" placeholder="%" type="text">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="manodeobra">Mano de obra</label>
              <input class="form-control" name="manodeobra" [(ngModel)]="PorcentageW" (keyup)="porcentage($event)" size="4" placeholder="%" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngFor="let item of sections">
    <div class="card-header"> Sección - {{item.section_name}} </div>
    <div class="card-body" >
        <div class="row">
            <div class="col-sm-12">
                <div class="progress-group mb-12" *ngFor="let visit of visit">
                    <div class="col-sm-6" style="margin-bottom: 10px">
                        <h4 class="card-title mb-0">{{item.section_name}}</h4>
                        <div class="small text-muted">{{item.section_descrip}}</div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 10px" *ngIf="item.photos.length > 0">
                      <div class="row-img">
                        <h3>Fotos</h3>
                        <ks-modal-gallery [id]="0" [modalImages]="item.photos"></ks-modal-gallery>
                      </div>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-sm col-md col-lg" *ngIf="item.materials.length > 0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-5">
                                        Materiales
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Valor unitario</th>
                                            <th>Valor total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let items of item.materials">
                                        <tr>
                                            <td>{{items.name}}</td>
                                            <td>{{items.count}}</td>
                                            <td>{{items.precio | currency : symbol : $}}</td>
                                            <td>{{(items.precio + ((items.precio * PorcentageMT)/100))* items.count | currency : symbol : $}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div *ngIf="PorMT" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalMT + ((TotalMT * PorcentageMT)/100) | currency: symbol : $}}
                                    </label>
                                </div>
                                <div *ngIf="PorMT==false" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalMT2 | currency: symbol : $}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md col-lg" *ngIf="item.machinaries.length  > 0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-5">
                                        Maquinaria
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Valor unitario</th>
                                            <th>Valor total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let items of item.machinaries">
                                        <tr>
                                            <td>{{items.name}}</td>
                                            <td>{{items.count}}</td>
                                            <td>{{items.precio | currency : symbol : $}}</td>
                                            <td>{{(items.precio + ((items.precio * PorcentageMC)/100))* items.count | currency : symbol : $}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div *ngIf="PorMC" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalMC + ((TotalMC * PorcentageMC)/100) | currency: symbol : $}}
                                    </label>
                                </div>
                                <div *ngIf="PorMC==false" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalMC2 | currency: symbol : $}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-md col-lg" *ngIf="item.tools.length  > 0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-5">
                                        Herramientas
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Valor unitario</th>
                                            <th>Valor total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let items of item.tools">
                                        <tr>
                                            <td>{{items.name}}</td>
                                            <td>{{items.count}}</td>
                                            <td>{{items.precio | currency : symbol : $}}</td>
                                            <td>{{(items.precio + ((items.precio * PorcentageT)/100))* items.count | currency : symbol : $}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div *ngIf="PorT" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalT + ((TotalT * PorcentageT)/100) | currency: symbol : $}}
                                    </label>
                                </div>
                                <div *ngIf="PorT==false" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalT2  | currency: symbol : $}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md col-lg" *ngIf="item.workforce.length > 0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-5">
                                        Mano de obra
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Valor unitario</th>
                                            <th>Valor total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let items of item.workforce">
                                        <tr>
                                            <td>{{items.name}}</td>
                                            <td>{{items.count}}</td>
                                            <td>{{items.precio | currency : symbol : $}}</td>
                                            <td>{{(items.precio + ((items.precio * PorcentageW)/100))* items.count | currency : symbol : $}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div *ngIf="PorW" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalW + ((TotalW * PorcentageW)/100) | currency: symbol : $}}
                                    </label>
                                </div>
                                <div *ngIf="PorW==false" style="text-align: right">
                                    <label><strong>Total: </strong>
                                        {{TotalW2 | currency: symbol : $}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

<!-- MODAL Nueva cotizacion -->
<div bsModal #nuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nueva cotización</h4>
                <button type="button" class="close" (click)="nuevo.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="cotizaForm" (ngSubmit)="CreateCot()">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Tipo de contizacion</label>
                        <input class="form-control" formControlName="id" type="hidden">
                        <div class="col-md-9">
                            <select class="form-control" (change)="cotiLarge($event)" formControlName="tipo">
                                <option value="2">Cotizacion corta</option>
                                <option value="1">Cotizacion larga</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="viewAll" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Descripción</label>
                        <div class="col-md-9">
                            <textarea formControlName="descripcion" rows="6" class="form-control" placeholder="Descripción del alcance"></textarea>
                        </div>
                    </div>
                    <div *ngIf="viewAll" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Generalidades</label>
                        <div class="col-md-9">
                            <textarea  formControlName="generalidades" rows="6" class="form-control" placeholder="Generalidades del cargo"></textarea>
                        </div>
                    </div>
                    <div *ngIf="viewAll" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Personal</label>
                        <div class="col-md-9">
                            <textarea formControlName="personal" rows="6" class="form-control" placeholder="Personal requerido y cantidad"></textarea>
                        </div>
                    </div>
                    <h4 style="margin-left: 38%;color: gray;margin-top: 20px;margin-bottom: 20px;">Forma de pago</h4>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="formapago">Forma de pago</label>
                        <div class="col-md-9">
                            <textarea formControlName="formapago" rows="3" class="form-control" placeholder="Forma de pago..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="tiempodeentrega">Tiempo de entrega</label>
                        <div class="col-md-9">
                            <textarea formControlName="tiempodeentrega" rows="3" class="form-control" placeholder="Tiempo de entrega..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="observaciones">Observaciones</label>
                        <div class="col-md-9">
                            <textarea formControlName="observaciones" rows="3" class="form-control" placeholder="Observaciones..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" (click)="nuevo.hide()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

