<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-wrench"></i> MAQUINARIA
          <!-- <i class="fa fa-align-justify"></i> MATERIALES -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <button
                class="btn btn-sm btn-info"
                type="button"
                data-toggle="modal"
                (click)="edit.show(); clearForm()"
              >
                <i class="fa fa-plus"></i> Nuevo
              </button>
              <button
                class="btn btn-sm btn-warning"
                type="button"
                data-toggle="modal"
                (click)="charge.show(); clearForm()"
              >
                <i class="fa fa-upload"></i> Cargar Archivo
              </button>
            </div>
            <div class="col-4">
              <label class="control">
                <input
                  type="text"
                  class="input"
                  style="border-radius:3px; border-block-start-color:rgba(76, 190, 243, 0.623)"
                  placeholder=" Buscar"
                  (keyup)="find($event.target.value)"
                />
              </label>
            </div>
          </div>
          <br />
          <div *ngIf="response">
            <div role="alert" class="{{ alert }}">
              <span
                ><strong>{{ response }}</strong></span
              >
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead style="background-color:PowderBlue">
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Unidad</th>
                <th>Categoria</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of machinaries | paginate: { itemsPerPage: 10, currentPage: p }">
              <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price | currency: "$" }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.category_name }}</td>
                <td class="text-center">
                  <span>
                    <i
                      data-toggle="modal"
                      (click)="edit.show(); editMachinaries(item)"
                      class="btn-sm badge-secondary fa fa-pencil"
                    >
                    </i>
                  </span>
                  <span>
                    <i
                      data-toggle="modal"
                      (click)="delete.show(); deleteMachinary(item)"
                      class="btn-sm badge-danger fa fa-trash"
                    >
                    </i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event">  </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL REGISTRAR -->
<div
  bsModal
  #edit="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Maquinarias</h4>
        <button
          type="button"
          class="close"
          (click)="edit.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="editMachinariesForm"
          (ngSubmit)="registerMachinaries()"
        >
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"
              >Codigo</label
            >
            <div class="col-md-9">
              <input
                class="form-control"
                formControlName="code"
                placeholder="codigo o serie unica"
                type="text"
              />
              <input class="form-control" formControlName="id" type="hidden" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"
              >Nombre</label
            >
            <div class="col-md-9">
              <input
                class="form-control"
                formControlName="name"
                placeholder="nombre material"
                type="text"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"
              >Precio Unidad</label
            >
            <div class="col-md-9">
              <input
                class="form-control"
                formControlName="price"
                placeholder="valor en pesos"
                type="number"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"
              >Unidad</label
            >
            <div class="col-md-9">
              <input
                class="form-control"
                formControlName="unit"
                placeholder="tipo unidad"
                type="text"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="category"
              >Categoria</label
            >
            <div class="col-md-9">
              <select class="form-control" formControlName="category" required>
                <option
                  *ngFor="let item of categories"
                  [value]="item.id_category"
                >
                  {{ item.category_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" (click)="edit.hide()">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #charge="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cargar Maquinaria</h4>
        <button
          type="button"
          class="close"
          (click)="edit.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="center">
          <ngx-file-drop
            dropZoneLabel="Drop files here"
            (onFileDrop)="dropped($event)"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector"
            >
              Arrastre aqui su archivo.
              <br />
              <label *ngFor="let item of files; let i = index">{{
                item.relativePath
              }}</label>
            </ng-template>
          </ngx-file-drop>
          <div class="upload-table">
            <br />
            <ng-container *ngIf="!path; else elseTemplate">
              <button
                disabled
                class="btn btn-success btn-lg btn-block"
                (click)="charge.hide(); chargeFile()"
              >
                Guardar
              </button>
            </ng-container>
            <ng-template #elseTemplate>
              <button
                class="btn btn-success btn-lg btn-block"
                (click)="charge.hide(); chargeFile()"
              >
                Guardar
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL BORRAR -->
<div
  bsModal
  #delete="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Maquinaria</h4>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="deleteMachinariesForm"
          (ngSubmit)="deleteMachinaries()"
        >
          <div class="modal-body text-small">
            <h4>¿Esta seguro que desea eliminar esta maquinaria?</h4>
            <input
              class="form-control"
              formControlName="idmaterial"
              type="hidden"
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-success"
              (click)="delete.hide()"
            >
              Si
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="delete.hide()"
              aria-label="Close"
            >
              <i class="fa fa-ban"></i> No
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
