.profile-username {
  font-size: 21px;
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-unbordered > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

