<div class="animated fadeIn">
  <div class="row" *ngFor="let user of user">
    <div class="col-sm-3 col-md-3">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card card-accent-primary">
            <div class="card-header">
              <h3 class="profile-username text-center">{{ user.user_name }}</h3>
              <p class="text-muted text-center">{{ user.usertypename }}</p>
              <ng-container
                *ngIf="user.user_state == 'activo'; else elseTemplate1"
              >
                <span style="margin: 0 35%;" class="badge badge-success"
                  >Activo</span
                >
              </ng-container>
              <ng-template #elseTemplate1>
                <span style="margin: 0 35%;" class="badge badge-danger"
                  >Inactivo</span
                >
              </ng-template>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Visitas pendientes</b>
                  <a  class="pull-right">{{ visitsPenLength }}</a>
                </li>
                <li class="list-group-item">
                  <b>Visitas en curso</b> <a class="pull-right">{{ visitsActLength }}</a>
                </li>
                <li class="list-group-item">
                  <b>Visitas realizadas</b> <a class="pull-right">13,287</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card card-accent-primary">
            <div class="card-header">
              Card with accent
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9">
      <tabset>
        <tab>
          <ng-template tabHeading class="card card-accent-primary"
            ><i class="icon-calendar"></i> Visitas</ng-template
          >
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-settings"></i> Informacion de usuario</ng-template
          >
          <div class="card">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="form-group">
                  <label for="nf-email">Nombres</label>
                  <input
                    formControlName="name"
                    type="text"
                    name="name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-email">Cedula</label>
                  <input
                    type="text"
                    formControlName="identification"
                    name="identification"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-email">Teléfono</label>
                  <input
                    type="text"
                    formControlName="phone"
                    name="phone"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-email">Dirección</label>
                  <input
                    formControlName="address"
                    type="text"
                    name="address"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-email">Usuario</label>
                  <input
                    formControlName="userName"
                    type="text"
                    name="nf-email"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-email">Email</label>
                  <input
                    type="email"
                    formControlName="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email.."
                    autocomplete="email"
                  />
                </div>
                <div class="form-group">
                  <label for="nf-password">Password</label>
                  <input
                    formControlName="userPass"
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password.."
                    autocomplete="current-password"
                  />
                </div>
              </div>
              <div class="card-footer">
                <button
                  [disabled]="!edit"
                  type="submit"
                  class="btn btn-sm btn-success"
                >
                  Guardar
                </button>
                <ng-container *ngIf="edit; else elseTemplate">
                  <button
                    (click)="EditChange()"
                    type="button"
                    style="margin-left: 10px;"
                    class="btn btn-sm btn-danger"
                  >
                    Cancelar
                  </button>
                </ng-container>
                <ng-template #elseTemplate>
                  <button
                    (click)="EditChange()"
                    type="button"
                    style="margin-left: 10px;"
                    class="btn btn-sm btn-info"
                  >
                    Editar
                  </button>
                </ng-template>
              </div>
            </form>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
