<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> Aprovación de visita - Detalles </div>
            <div class="card-body">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>