<div class="animated fadeIn">

  <div class="page-builder">
    <div class="container">
      <div class="row">
        <!-- Blog Area -->
        <div class="col-md-12">
            <div class="text-justify">
              <p><img class="size-medium wp-image-68 alignleft" src="assets/img/brand/logo.png" width="500" height="200" alt="CoreUI Logo" ></p>
              <!-- <p><img class="size-medium wp-image-68 alignleft" src="http://homesas.com/wp-content/uploads/2017/12/logo-300x150.png" alt="" width="300" height="150"></p> -->
              <p >Somos SOLUCIONES INTEGRALES DEL VALLE, una empresa dedicada a prestar servicios en l disciplina eléctrica, el montaje y puesta en marcha de equipos industriales.
              Diseñamos soluciones a su medida en el campo industrial, comercial y residencial. Con tecnología moderna y precios competitivos.
              Somos un equipo de trabajo conformado por profesionales con conocimientos en distintas áreas de la ingeniería y una excelente relación comercial con los distribuidores e integradores de las mejores marcas.</p>
            </div>
        </div>
        <div class="col-md-4">
        </div>

      </div>
        <div class="footer-copyright text-left">
          © Todos los derechos reservado Solinter S.A.S
        </div>
    </div>
  </div>


</div>
